/*Define font, also delete the margin, border and padding*/
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 12px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/*Root will have no padding or border and will be as big as body, flex to allow main to fill all the page*/
#root {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*Button green size and color*/
.green-button {
    background-color: #004643B3;
    border: none;
    border-radius: 5px;
    color: #ECE7E2;
    padding: 5px;
}

/*Main to fill all the page*/
main {
    flex: 1;
}

/*img width and border for the avatar*/
.avatar {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
    background-color: #D9E1E4;
}


/*Button green when hover (darker and cursor)*/
.green-button:hover {
    cursor: pointer;
    background-color: #004643;
}

/*Button border green color*/
.green-border-button {
    background-color: transparent;
    border: 1px solid #004643B3;
    border-radius: 5px;
    color: #004643;
    padding: 5px;
}

/*Button white when hover (darker and cursor)*/
.white-button:hover {
    cursor: pointer;
    background-color: #ECE7E2;
    color: #004643;
}

/*Button white color*/
.white-button {
    background-color: #ECE7E2CC;
    border: none;
    border-radius: 5px;
    color: #004643;
    padding: 5px;
}


/*Button border green when hover (darker and cursor)*/
.green-border-button:hover {
    cursor: pointer;
    background-color: #004643;
    color: #ECE7E2;
}

/*Button border white color*/
.white-border-button {
    background-color: transparent;
    border: 1px solid #ECE7E299;
    border-radius: 5px;
    color: #ECE7E2;
    padding: 5px;
}

/*Button border white when hover (darker and cursor)*/
.white-border-button:hover {
    cursor: pointer;
    background-color: #ECE7E2;
    color: #004643;
}

/*Button red and color*/
.red-button {
    background-color: #8B0000B3;
    border: none;
    border-radius: 5px;
    color: #ECE7E2;
    padding: 5px;
}

/*Button red when hover (darker and cursor)*/
.red-button:hover {
    cursor: pointer;
    background-color: #8B0000;
}

/*Button border red and color*/
.red-border-button {
    background-color: transparent;
    border: 1px solid #8B000099;
    border-radius: 5px;
    color: #8B000099;
    padding: 5px;
}

/*Button border red when hover (darker and cursor)*/
.red-border-button:hover {
    cursor: pointer;
    background-color: #8B0000;
    color: #ECE7E2;
}

/*Links color*/
.link {
    color: #004643B3;
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    color: #004643;
}

/*Links white color*/
.white-link {
    color: #ECE7E299;
}

.white-link:hover {
    cursor: pointer;
    color: #ECE7E2;
}

/*When hover make it darker and change cursor*/
.clickable:hover {
    cursor: pointer;
    filter: brightness(80%);
}

/*Error message color*/
.error-message {
    color: #8B000099;
    text-align: center;
}

/*Top page with nav bar and info*/
.top-green-img-section {
    position: relative;
    background-image: url('../../public/images/budapest-background.jpg');
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}



/*Add a green transparent (80%) color after the image*/
.top-green-img-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #004643CC;
    z-index: 1;
}

/*Nav bar with logo and link, add a biggest index than the green img*/
.top-nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
    font-size: 16px;
}

/*Links in the bar*/
.nav-bar-links {
    display: flex;
    align-items: center;
}

/*Beige links and with hover*/
.nav-bar-link {
    text-align: center;
    color: #ECE7E2;
    font-size: 16px;
    font-synthesis: none;
}

.nav-bar-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Logo in the bar*/
.logo-top-left {
    height: 30px;
}

/*Trip name size*/
.trip-name {
    font-size: 50px;
}

/*Info of the trip, add a greater z-index to be shown*/
.trip-info {
    position: relative;
    color: #ECE7E2;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Content in the top centered*/
.top-content-centered {
    position: relative;
    color: #ECE7E2;
    z-index: 2;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/*Trip places padding*/
#trip-places {
    padding: 20px;
}

/*Display all the trips with beige background*/
.place {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 10px;
    background-color: #F3F1EF;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

/*Display flex with the content (image and text)*/
.place-content {
    display: flex;
}

/*Display all the trips with display flex*/
.places {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

/*Right and left will have a widht of the 50%*/
.right-place {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-place {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

/*Place image*/
.place-image {
    max-width: 75%;
    max-height: 500px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #D9E1E4;
    object-fit: cover;
}

/*Place name size*/
.place-name {
    font-size: 50px;
}

/*Footer with space between, green color, and padding*/
footer {
    background-color: #004643;
    color: #ECE7E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo in footer width*/
.esenebe-footer-log {
    width: 200px;
}

/*Footer content with space between*/
.footer-contact {
    display: flex;
}

.footer-contact a {
    color: #ECE7E2;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/*A div when loading in a page*/
.loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    font-size: 25px;
}

/*Image when loading width*/
.loading img {
    width: 500px;
    height: auto;
}

/*A div when loading in a page*/
.notLoggedIn {
    width: 100vw;
    height: 100vh;
    background-color: #ECE7E2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    font-size: 25px;
    gap: 30px;
}

/*H1 and p size for not logged in*/
.notLoggedIn h1 {
    font-size: 24px;
}

.notLoggedIn p {
    font-size: 16px;
}

/*Input transparent background (default)*/
.transparent-input {
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*Hide the outline when focus*/
.transparent-input:focus {
    outline: none;
}

/*Editable input with no borders and transparent, when focus border bottom. Underline when hover but not when focus and hover*/
.editable-input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid transparent;
}

.editable-input:focus {
    outline: none;
}

/*Change colors for inputs*/
.green-input {
    color: #004643;
}

.green-input:focus {
    border-bottom: 2px solid #004643;
}

.green-input:hover {
    border-bottom: 2px solid #004643;
}

.white-input {
    color: #ECE7E2;
}

.white-input:focus {
    border-bottom: 2px solid #ECE7E2;
}

.white-input:hover {
    border-bottom: 2px solid #ECE7E2;
}

.black-input {
    color: black;
}

.black-input:focus {
    border-bottom: 2px solid #004643;
}

.black-input:hover {
    border-bottom: 2px solid #004643;
}

/*Select an option without background*/
.white-select {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ECE7E2;
    color: #ECE7E2;
    width: 270px;
}

/*When hover or focus change cursor*/
.white-select:hover {
    cursor: pointer;
}

/*Select an option without background*/
.green-select {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #004643;
    color: #004643;
}

/*When hover or focus change cursor*/
.green-select:hover {
    cursor: pointer;
}